<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>


<body>
    <section class="section">
        <div class="field is-grouped is-grouped-centered">
            <h1 class="title has-text-success">Sign up</h1>
        </div>

        <div style="width:700px; margin: 50px auto;">
            <form th:action="@{/furukari/signup}" method="post"> <!-- @ModelAttributeとテンプレートsignup内が紐づく -->
                <div class="container is-fluid">
                    <div class="field">
                        <p class="label">Username</p>
                        <div class="control has-icons-left has-icons-right">
                            <input type="text" name="username" class="input is-success" placeholder="username"><br>

                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">password</label>
                        <div class="control has-icons-left has-icons-right">

                            <input type="password" name="password" class="input is-success" placeholder="password"><br>
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <button type="submit" class="button is-light">
                            Sing up
                        </button>
                    </div>

                </div>
            </form>
        </div>

    </section>
</body>

</html>

<style>
    .section {
        margin-top: 150px;
    }

    button {
        margin-top: 30px;
    }

    .input {
        margin-right: 40px;
    }
</style>