<!DOCTYPe html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
	<header th:replace="/main/header"></header>
   	
	<table class="table is-bordered">
	  <tbody>

		<tr>
			<th class="is-link">商品名</th>
			<td th:text="${item.name}">
		</tr>

	  </tbody>
	</table>
</body>
</html>