<!DOCTYPe html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
	<header th:replace="/main/header"></header>
    
	<table>
		<tr th:each="item : ${itemList}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.userId}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
			<td th:text="${item.abst}"></td>
			<td th:text="${item.description}"></td>
		</tr>
	</table>
</body>
</html>