<!DOCTYPe html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
	<header th:replace="/main/header"></header>
    
	<table border="1">
	    <tr>
	        <th>ID</th>
	        <td th:each="item : ${itemList}" th:text="${item.id}"></td>
	    </tr>
	    <tr>
	        <th>User ID</th>
	        <td th:each="item : ${itemList}" th:text="${item.userId}"></td>
	    </tr>
	    <tr>
	        <th>Name</th>
	        <td th:each="item : ${itemList}" th:text="${item.name}"></td>
	    </tr>
		
	    <tr>
	        <th>Price</th>
	        <td th:each="item : ${itemList}" th:text="${item.price}"></td>
	    </tr>
	    <tr>
	        <th>Abst</th>
	        <td th:each="item : ${itemList}" th:text="${item.abst}"></td>
			
	    </tr>
	    <tr>
	        <th>Description</th>
	        <td th:each="item : ${itemList}" th:text="${item.description}"></td>
	    </tr>
		
	    <tr>
	        <th>操作</th>
	        <td th:each="item : ${itemList}">
	            <button type="button" class="button is-info" th:onclick="'editItem(' + ${item.id} + ')'">購入</button>
	        </td>
	    </tr>
		
	</table>

</body>
</html>