<!DOCTYPe html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <header th:replace="/main/header"></header>

    <div class="field is-grouped is-grouped-centered" style="margin: 50px 0;font-size: 30px;">
        <a href="/furukari/user-verify">本人確認書類の提出へ<i class="fa-solid fa-check"></i></a>
    </div>


    <div style="width:700px; margin: 50px auto;">
        <form th:action="@{/furukari/item/sell}" method="post" enctype="multipart/form-data">
            <!-- 出品商品名 -->
            <div class="field">
                <label class="label">item-name</label>
                <div class="control">
                    <input name="name" class="input" type="text" placeholder="item name">
                </div>
            </div>

            <!-- 価格 -->
            <div class="field">
                <label class="label">price</label>
                <div class="control">
                    <input name="price" class="input is-success" type="text" placeholder="item price">
                </div>
            </div>

            <!-- 概要 -->
            <div class="field">
                <label class="label">abstract</label>
                <div class="control">
                    <input name="abst" class="input is-success" type="text" placeholder="abstract">
                </div>
            </div>

            <!-- 詳細 -->
            <div class="field">
                <label class="label">description</label>
                <div class="control">
                    <textarea name="description" class="textarea" placeholder="Textarea"></textarea>
                </div>
            </div>

            <!-- 画像アップロード -->
            <div class="field">
                <label class="label">画像</label>
                <div class="control">
                    <input name="img" type="file">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>